<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">FEDAC E-Commerce</h1>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis labore cumque nemo voluptate, doloremque repudiandae fugiat veritatis eius quaerat quasi dignissimos eligendi doloribus praesentium aspernatur autem numquam, debitis sequi excepturi.</p>
            </div>
        </div>
    </header>